---
import * as m from '~/paraglide/messages';
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/Header.astro';
import Footer from '~/components/Footer.astro';
import { Icon } from '@steeze-ui/svelte-icon';
import { Github } from '@steeze-ui/simple-icons';
import { Languages } from '~/consts/languages';

export function getStaticPaths() {
    return Object.keys(Languages).map((lang) => ({ params: { lang } }));
}
---

<Layout title="NextMU">
    <div class="container"></div>
    <Header selected="home" />
    <main
        class="md:mt-[16rem] mt-[6rem] flex grow flex-col gap-14 px-2 text-white"
    >
        <div class="flex flex-col items-center text-xl drop-shadow-text">
            <span
                class="mb-8 text-center text-3xl font-medium uppercase"
                set:html={m.home_message_firstline()}
            />
            <span class="text-center">{m.home_message_secondline()}</span>
            <span class="text-center">{m.home_message_thirdline()}</span>
            <span class="text-center">{m.home_message_fourthline()}</span>
        </div>
        <div class="flex flex-row flex-wrap justify-center gap-8">
            <a href="https://discord.gg/ARafEy92hp"
                ><img
                    src="https://discord.com/api/guilds/1025209137430265996/widget.png?style=banner2"
                    alt="Discord server"
                    width="320px"
                    height="76px"
                /></a
            >
            <a
                class="flex skew-x-[-20deg] cursor-pointer select-none flex-row items-center justify-center gap-1 self-center rounded-lg border-2 border-nextmu-green px-8 py-5 text-white shadow-repo hover:border-nextmu-green-hover active:border-nextmu-green-active [&>*]:skew-x-[20deg]"
                style="background: #4bcc0040;"
                href="https://github.com/kuncarous/nextmu"
                target="_blank"
            >
                <Icon class="size-[1.75rem]" src={Github} theme="outline" />
                <span class="mx-2 text-2xl font-medium uppercase"
                    >{m.home_repository_label()}</span
                >
            </a>
        </div>
        <div class="flex flex-col items-center text-xl drop-shadow-text">
            <span class="text-center">{m.home_submessage_firstline()}</span>
            <span
                class="text-center"
                set:html={m.home_submessage_secondline()}
            />
            <span class="text-center">{m.home_submessage_thirdline()}</span>
        </div>
    </main>
    <Footer />
</Layout>

<style lang="scss">
    body {
        &::before,
        .container {
            z-index: -1;
            background: url('/images/background.home.webp') center top repeat
                repeat;
            content: ' ';
            position: fixed;
            min-width: 100vw;
            min-height: 100vh;
        }
        &::before {
            filter: blur(16px);
        }
        .container {
            background-repeat: no-repeat;
            box-shadow: inset 100vw 1px rgba(64, 68, 75, 0.6);
            @media not all and (min-width: 768px) {
                background-position-x: 60%;
            }
        }
    }
</style>
